@font-face {
    font-family: "Poppins ExtraBold";
    src: url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.eot");
    src: url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.svg#Poppins ExtraBold")format("svg");
}
@font-face {
    font-family: "Le Jour Script";
    src: url("https://db.onlinewebfonts.com/t/9f4b12a4b8d65b0c0af5e70ab51cef0f.eot");
    src: url("https://db.onlinewebfonts.com/t/9f4b12a4b8d65b0c0af5e70ab51cef0f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9f4b12a4b8d65b0c0af5e70ab51cef0f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/9f4b12a4b8d65b0c0af5e70ab51cef0f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/9f4b12a4b8d65b0c0af5e70ab51cef0f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/9f4b12a4b8d65b0c0af5e70ab51cef0f.svg#Le Jour Script")format("svg");
}

.header {
    position: fixed;
    padding-top: 0.1em;
    width: 100%;
    top: 0; 
    color: white;
    background-color: #A5A58D;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 100;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
    margin-left: auto;
    
}
.header-line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-line h2{
    font-family: 'Le Jour Script';
    margin: 15px;
    font-size: 23px;
    color: white;
    margin-top: 1em;
    font-weight: bold;
    
}
.header-link {
    color: white; /* Maintain the text color */
    text-decoration: none; /* Remove underline */
    font-weight: 600;
}
.header-link:hover {
    color: white;
    text-decoration: none; 
}
